@tailwind base;
@tailwind components;
@tailwind utilities;
*:focus-visible {
    outline: none!important;
    outline-offset: 0!important;
    box-shadow: none!important;
}
.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
    transform: scale(1.5);
}